// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2020 TechNexion Ltd.
 *
 * Author: Richard Hu <richard.hu@technexion.com>
 *
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	fragment@0 {
		target-path = "/";
		__overlay__ {
			backlight_mipi {
				status = "okay";
			};
		};
	};

	fragment@1 {
		target = <&mipi_dsi>;
		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;

			panel@0 {
				compatible = "tn,vizionpanel";
				reg = <0>;
				status = "okay";
			};
		};
	};

	fragment@2 {
		target = <&i2c5>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			at24@56 {
				compatible = "atmel,24c02";
				pagesize = <8>;
				reg = <0x56>;
			};

			fpdlink_dsi2lvds: ds90ub948@0c {
				compatible = "ti,ds90ub94x";
				reg = <0x0c>;
			};
		};
	};
};
